.photo-grid {
  max-width: 1184px;
  align-self: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);;
  gap: 16px;
  padding-bottom: 92px;
}

@media screen and (max-width: 1270px) {
  .photo-grid {
    grid-template-columns: repeat(3, minmax(300px, 352px));
    gap: 14px;
  }
}

@media screen and (max-width: 1020px) {
  .photo-grid {
    grid-template-columns: repeat(2, minmax(284px, 352px));
    gap: 16px;
    padding-bottom: 88px;
  }
}


@media screen and (max-width: 630px) {
  .photo-grid{
    grid-template-columns: repeat(1, minmax(284px, 352px));
    gap: 14px;
    justify-items: start;
  }
}

@media screen and (max-width: 430px) {
  .photo-grid {
    gap: 12px;
    padding-bottom: 64px;
  }
}
