.footer__link {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 730px) {
  .footer__link {
    font-size: 2vw;
  }
}

@media screen and (max-width: 430px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}
