.header__languages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  column-gap: 18px;
  align-self: end;
  margin-bottom: 5px;

}
