.intro {
  max-width: 985px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 1270px) {
  .intro {
    align-items: flex-start;
  }
}
