.root {
  font-family:"Inter", sans-serif;
  font-style: normal;
  background: #2A2C2F;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.content {
  width: calc(100vw - 96px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  max-width: 1184px;
  width: calc(100% - 96px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 28px;
  align-items: end;
}

.link {
  color:#FFFFFF;
  text-decoration: none;
}

.header__logo {
  width: 176px;
}

.page-languages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1fr 1fr;
  column-gap: 18px;

}

.page-languages__lang{
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 5px;
}

.page-languages__lang_selected_true {
  border-bottom: 1px #FFFFFF solid;
}

.russian-travel {
  max-width: 985px;
  padding-bottom: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;

}

.russian-travel__title {
  margin: 0;
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  padding-bottom: 32px;

}
.russian-travel__subtitle {
  margin: 0;
  max-width: 640px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding-bottom: 64px;
}

.russian-travel__main-illusration {
  width: 100%;
  object-fit: contain;

}

.russian-travel__subline-text {
  margin: 0;
  padding-top: 8px;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: left;
  align-self: flex-start;
}

.exploring-russia {
  max-width: 985px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.about-russia {
  max-width: 985px;
  padding-bottom: 92px;
  display: flex;
  flex-direction: column;
  position: relative;
  right: calc((984px - 690px)/2);;
}

.about-russia__title {
  margin: 0;
  max-width: 690px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  padding-bottom: 40px;
}

.about-russia__text {
  margin: 0;
  max-width: 690px;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  padding-bottom: 33px;
}

.about-russia__facts {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 690px;
}

.about-russia__fact {
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.about-russia__span-accent {
  margin: 0;
  font-weight: 400;
}

.landscape-galery {
  max-width: 1184px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px;
  padding-bottom: 92px;

}

.landscape-galery__foto {
  min-width: 284px;
  max-width: 352px;
  object-fit: cover;
}
.places {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 80px;
  padding-bottom: 92px;
}

.place {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: auto auto;
  row-gap: 48px;
  column-gap: 40px;
}

.place__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

.place__url-heading {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
}
.place__website {
  align-self: end;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.place__link {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: underline;
}

.place__description {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.place__paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}

.cover__container {
  max-width: 1184px;
  width: calc(100vw - 96px);
  max-height: 740px;
  height: calc(.625*(100vw - 96px));
  background-image: url(../images/railway_station.jpg);
  background-size: contain;
  background-color: rgb(42, 44, 47, 0.3);
  opacity: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 92px;
}

.cover__title {
  z-index: 1;
}

@media screen and (max-width: 1270px) {
  .exploring-russia {
    align-items: flex-start;
  }

  .about-russia {
    width: 100%;
    align-self: center;
    right: 0;
  }

  .russian-travel {
    padding-top: 48px;
  }
  .russian-travel__subtitle {
    padding-bottom: 56px;
  }


  .landscape-galery {
    width: 100%;
    grid-template-columns: repeat(3, minmax(300px, 352px));
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-self: center;
    gap: 14px;
    justify-items: stretch;
  }

  .landscape-galery__foto {
    width: 100%;
    justify-self: center;
  }
}

@media screen and (max-width: 1020px) {
  .content {
    width: calc(100% - 48px);
  }
  .header {
    width: calc(100% - 48px);
  }
  .russian-travel__main-illusration {
    width: 100vw;

  }
  .russian-travel {
    padding-bottom: 88px;
  }
    .about-russia {
      padding-bottom: 88px;
    }

  .about-russia__text {
    max-width: 720px;
  }

  .landscape-galery {
    width: 100%;
    grid-template-columns: repeat(2, minmax(284px, 352px));
    grid-template-rows: repeat(6, auto);
    gap: 16px;
  }



}


@media screen and (max-width: 730px) {
  .header__logo {
    width: 142px;
  }

  .content {
    width: calc(100% - 32px);
  }
  .header {
    padding-top: 16px;
    width: calc(100% - 32px);
  }
  .page-languages__lang {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 8px;
  }

  .russian-travel__title {
    font-size: 10vw;
    line-height: 1.04;
width: min-content;
  }
  .russian-travel__subtitle {
    width: 70%;
    font-size: 3.5vw;
    line-height: 1.2;
  }

.landscape-galery {
  padding-bottom: 88px;
  gap: minmax(14px, 16px);
}
.about-russia__title {
  font-size: 7vw;
  line-height: 1.07;
}

}

@media screen and (max-width: 630px) {
  .landscape-galery {
    grid-template-columns: repeat(1, minmax(284px, 100%));
    grid-template-rows: repeat(12, 1fr);
    gap: 14px;
    justify-items: start;
  }

  /* .landscape-galery__foto:nth-of-type(2n) {
    justify-self: end;
  }

  .landscape-galery__foto:nth-of-type(2n+1) {
    justify-self: start;
  } */
}

@media screen and (max-width: 430px) {

  .russian-travel {
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .russian-travel__title {
    font-size: 40px;
  line-height: 44px;
  max-width: 288px;
  padding-bottom: 16px;
  }
  .russian-travel__subtitle {
    width: 100%;
    max-width: 295px;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 40px;
  }
  .russian-travel__subline-text {
    padding-left: 16px;
  }
  .landscape-galery {
    gap: 12px;
    padding-bottom: 64px;
  }
  .about-russia__title {
    max-width: 75%;
    font-size: 32px;
  line-height: 1.09;
  }

  .about-russia {
    padding-bottom: 64px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    min-width: calc(320px - 32px);
  }
  .content {
    min-width: calc(320px - 32px);
  }
}
