.cover__title {
  position: relative;
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  max-width: 560px;
  white-space: pre-line;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 730px) {
  .cover__title {
    font-size: 9vw;
  }
}

@media screen and (max-width: 430px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
