.footer {
  width: calc(100vw - 96px);
  max-width: 1184px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
}

@media screen and (max-width: 1020px) {
  .footer {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 730px) {
  .footer {
  width: calc(100% - 32px);
  }
}

@media screen and (max-width: 430px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    min-width: calc(320px - 32px);
  }
}
